body{
    
}

.titulo-principal{
    padding-left: 30px;
}

#barberia{
    width: 100%;
    height: 400px;
}

p{
    text-align: center;  
    
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.principal{
    background: #CCCCCC;
    padding: 20px;

}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.tituloCentralizado{
    text-align: center;
}

.items{
    font-style: italic;
    font-size: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 27%;
    vertical-align: center;
}